include mixins

doctype
html
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title API Documentation
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css')

  body#top(style='padding-top: 70px;')
    block content

    hr
    footer.container
      p.pull-right
        a(href='javascript:jQuery("html, body").animate({scrollTop: 0}, "fast")') Back to top
      p © #{new Date().getFullYear()} Rafał Enden

    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
